<link rel="stylesheet" href="styles/common.css">
<style>
    .titleN{font-weight:bold;}
</style>


<div class="head-wrapper">
    <!--<div class="row clearfix">-->
    <div class="container">
        <div class="col-md-12 column">
            <div class="row clearfix">
                <div class="col-md-3 column">
                    <a href="ym#/ym"> <img src="images/y_machine_logo_201px.png" alt="와이머신 로고"> </a>
                </div>
                <div class="col-md-9 column">
                    <nav class="navbar nav-menu pull-right" role="navigation">

                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li>
                                    <a href="" class="titleN">회사소개</a>
                                </li>
                                <li>
                                    <a href="" class="titleN">신제품소개</a>
                                </li>
                                <li>
                                    <a href="" class="titleN">중고제품</a>
                                </li>
                                <li>
                                    <a href="" class="titleN">고객문의</a>
                                </li>
                                <li>
                                    <a href="" class="titleN">중고장비문의</a>
                                </li>
                                <li>
                                    <a href="" class="titleN">공지사항</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row clearfix">
        <div class="col-md-12 column">

            <div class="row clearfix">

                <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="container">
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav navbar-right">
                                <li>
                                    <a href="/ym" class="top">공작기계</a>
                                </li>
                                <li>
                                    <a href="/lease" class="top">금융리스</a>
                                </li>
                                <li>
                                    <a href="ym#ym/sitemap/" class="top">Site map</a>
                                </li>
                                <li>
                                    <a href="" class="top">로그인</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</div>


<div class="navbar-sub">
    <div class="container">
        <div class="col-xs-12 column">
            <ul class="list-inline pull-right">
                <li>
                    <!--<a href="ym#">경로가 &gt;</a>
                </li>
                <li>
                    <a href="ym#">이 곳에&gt;</a>
                </li>
                <li>
                    <a href="ym#">매핑됩니다 </a>-->
                </li>
            </ul>
        </div>
    </div>
</div>
